[Unit]
Description=UPPeople web-server
After=syslog.target

[Service]
Environment=PGPASSWORD=
Environment=PGUSER=
Environment=PGDATABASE=
Environment=PGHOST=
Environment=TBTOKEN=
Environment=TBCHATID=

ExecStart=/opt/uppeople/httpgo -port :443 -web www
WorkingDirectory=/opt/uppeople
RootDirectoryStartOnly=true
Type=simple
Restart=always
PrivateTmp=yes
