[Unit]
Description=UPPeople web-server
After=syslog.target

[Service]
Environment=PGPASSWORD=
Environment=PGUSER=
Environment=PGDATABASE=
Environment=PGHOST=
Environment=TBTOKEN=1745642725:AAE6GiVlshMYMl9uCZF3jjdnDciJDFbcirA
Environment=TBCHATID=-1001301115992

ExecStart=/opt/uppeople/httpgo_dev -port :4443 -web ./ -debug
WorkingDirectory=/opt/uppeople
RootDirectoryStartOnly=true
Type=simple
Restart=always
PrivateTmp=yes
