[Unit]
Description=UPPeople web-server
After=syslog.target

[Service]
Environment=PGPASSWORD=
Environment=PGUSER=
Environment=PGDATABASE_DEV=
Environment=PGHOST=
Environment=PGX_MAX_CONNS=100
Environment=TBTOKEN=
Environment=TBCHATID=

ExecStart=/opt/uppeople/httpgo_dev -port :4443 -web dev -debug -config_path ./cfg/dev
WorkingDirectory=/opt/uppeople
RootDirectoryStartOnly=true
Type=simple
Restart=always
PrivateTmp=yes
